<!-- PRE-LOAD TEMPLATE -->
<div class="pre-load" style="position: absolute; top: 0;">
    <div class="item fr">
        <div src="" alt="screenshot" style="width: 7em; height: 7em; background: lightgray; border-radius: 5px;"></div>
        <div style="width: 20.5em; height: 7em; background: lightgray; border-radius: 5px; margin-left: 1em;">
        </div>
    </div>
    <hr class="line separator">
    </hr>
    <div class="item fr">
        <div src="" alt="screenshot" style="width: 7em; height: 7em; background: lightgray; border-radius: 5px;"></div>
        <div style="width: 20.5em; height: 7em; background: lightgray; border-radius: 5px; margin-left: 1em;">
        </div>
    </div>
    <hr class="line separator">
    </hr>
    <div class="item fr">
        <div src="" alt="screenshot" style="width: 7em; height: 7em; background: lightgray; border-radius: 5px;"></div>
        <div style="width: 20.5em; height: 7em; background: lightgray; border-radius: 5px; margin-left: 1em;">
        </div>
    </div>
    <hr class="line separator">
    </hr>
    <div class="item fr">
        <div src="" alt="screenshot" style="width: 7em; height: 7em; background: lightgray; border-radius: 5px;"></div>
        <div style="width: 20.5em; height: 7em; background: lightgray; border-radius: 5px; margin-left: 1em;">
        </div>
    </div>
</div>
<!-- PRE-LOAD TEMPLATE -->

