@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
::selection {
    background: transparent;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    overflow-x: hidden;
}

html {
    position: relative;
    height: 100%;
}

body {
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 56, 168, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

a {
    text-decoration: none;
    color: #000;
}

::-webkit-scrollbar {
    width: 0;
}

header {
    margin: 1em auto;
    width: 70%;
    display: flex;
    flex-direction: column;
}

header > div {
    margin: 0 auto;
    display: flex;
}

.burger {
    margin: auto 1em;
}

.burger div {
    margin: 0.5em 0;
    width: 30px;
    display: flex;
    flex-direction: column;
    border: 2px solid #fff;
}

.titulo {
    font-family: Constantia;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
    color: #fff;
}

.container {
    width: 80%;
    position: relative;
    margin: 4em auto 0 auto;
    display: flex;
}

.card {
    margin: auto auto;
    position: relative;
    width: 32.5em;
    height: 44.3em;
    flex-direction: column;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .4);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.inactive {
    transition: all .2s;
    width: 22.7em;
    height: 31em;
}

.inactive .item {
    height: 5.9em;
}

.inactive .content .snippet {
    display: none;
}

.inactive .color-layer {
    display: block;
}

.active {
    transition: all .2s;
}

.color-layer {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .7;
    z-index: 3;
    cursor: pointer;
    border-radius: 20px;
}

.color-layer:hover {
    border: 2px solid #fff;
}

.head {
    width: 100%;
    height: 6.2em;
    border-radius: 20px 20px 0 0;
}

.card-body {
    position: relative;
    padding: 0.2em;
    height: 100%;
    background: #fff;
    border-radius: 0 0 20px 20px;
}

.item:hover {
    background: lightgray;
}

.item {
    cursor: pointer;
    position: relative;
    padding: 0.5em;
    height: 8.5em;
    justify-content: space-between;
    display: flex;
    border-radius: 4px;
    animation: FadeIn 1s 1;
}

.item:hover .time {
    display: block;
}

.image-container {
    position: relative;
    flex: 1;
    overflow: hidden;
}

.screenshot {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.time {
    display: none;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0, 0, 0, .5);
    padding: 0.2em;
    color: #fff;
    font-size: 0.9em;
}

.content {
    margin-left: 3px;
    position: relative;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    flex: 3;
}

.titular {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 1.3em;
}

.snippet {
    font-family: 'Georgia', sans-serif;
    font-size: 0.9em;
    opacity: .8;
    line-height: 1.2em;
}

.separator {
    margin: 0.2em auto;
    border: 1px solid lightgray;
}

.card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(200, 200, 200, .9);
    width: 100%;
    height: 4em;
    z-index: 2;
    border-radius: 0 0 20px 20px;
}

.arrow-down {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2em;
}

.controls {
    display: none;
    margin: 0.5em auto 0 auto;
    justify-content: space-around;
    width: 80%;
}

.controls * {
    padding: 1.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #f1f1f1;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .4);
}

@keyframes FadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media only screen and (max-width: 960px) {
    .titulo {
        font-size: 1.5em;
    }
    .subtitulo {
        font-size: 0.8em;
    }
    .container {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 95%;
    }
    .card {
        width: 100%;
        height: 30em;
    }
    .inactive {
        display: none;
    }
    .pre-load .item:last-child {
        display: none;
    }
    .head {
        width: 100%;
        height: 3.1em;
    }
    .image-container {
        width: 6.2em;
        height: 6.2em;
    }
    .content {
        max-height: 6em;
    }
    .screenshot {
        width: 6em;
        height: 6em;
    }
    .titular {
        font-size: 0.8em;
        width: 15em;
    }
    .snippet {
       font-size: 0.8em;
    }
    .controls {
        display: flex;
    }  
}