@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

::selection {
    background: transparent;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #000;
}

::-webkit-scrollbar {
    width: 0;
}

.fr {
    display: flex;
    flex-direction: row;
}

.fc {
    display: flex;
    flex-direction: column;
}

header {
    margin: 1em auto;
    width: 70%;
}

.loading {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    width: 8em;
    padding: 0.5em 1em;
    border-radius: 5px;
    font-family: Georgia, 'sans-serif';
    font-weight: bold;
    background: rgb(120, 204, 158);
}

.loading p {
    text-align: center;
    display: block;
}

.titulo {
    font-family: Constantia;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
}
.line {
    width: 60%;
    margin: 0.2em auto;
    opacity: .5;
    outline: none;
    background: #5d5763;
}

.separator {
    margin: 0 auto;
    width: 100%;
    background: #a696b6;
}

.subtitulo {
    margin: 0.5em 0;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: .7;
}

.container {
    width: 80%;
    position: relative;
    margin: 4em auto 0 auto;
}

.card {
    margin: 0 auto;
    position: relative;
    border: 1px solid #C9C9C9;
    height: 38em;
    box-shadow: 5px 5px 5px 0px rgba(209,209,209,1);
}

.card:nth-child(1) .item:hover {
    background: rgb(230, 235, 255);
}

.card:nth-child(2) .item:hover {
    background: rgb(212, 238, 227);
}

.card:nth-child(3) .item:hover {
    background: rgb(252, 212, 175);
}

.card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, .7);
    width: 100%;
    height: 4em;
    z-index: 2;
}

.head {
    width: 30em;
    height: 6.2em;
    border: 1px solid #C9C9C9;
}

.card-body {
    position: relative;
    padding: 0.2em;
    height: 100%;
}

.arrow-down {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2em;
}

.item {
    cursor: pointer;
    position: relative;
    padding: 0.5em;
    height: 8.5em;
    justify-content: space-between;
    animation: FadeIn 1s 1;
}

.item:hover .time {
    display: block;
}

.image-container {
    position: relative;
    width: 7em;
    height: 7em;
    overflow: hidden;
}

.screenshot {
    width: 7em;
    height: 7em;
    border-radius: 5px;
}

.time {
    display: none;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0, 0, 0, .5);
    padding: 0.2em;
    color: #fff;
    font-size: 0.9em;
}

.text-area {
    position: relative;
    justify-content: space-between;
    max-width: 20.2em;
}

.titular {
    width: 100%;
    font-family: Roboto, 'sans-serif';
    font-size: 1em;
    line-height: 1.3em;
}

.snippet {
    font-family: Georgia, 'sans-serif';
    font-size: 0.9em;
    opacity: .8;
    line-height: 1.2em;
}

@keyframes FadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media only screen and (max-width: 960px) {
    .titulo {
        font-size: 1.5em;
    }
    .subtitulo {
        font-size: 0.8em;
    }
    .container {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .card {
        width: 20.6em;
        height: 30em;
        margin-bottom: 1.5em;
    }
    .pre-load .item:last-child {
        display: none;
    }
    .head {
        width: 20.6em;
        height: 3.1em;
    }
    .image-container {
        width: 6.2em;
        height: 6.2em;
    }
    .screenshot {
        width: 6.2em;
        height: 6.2em;
    }
    .titular {
        width: 12.3em;
    }
    .snippet {
        display: none;
    }
}